<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>


</head>
<body>
<div class="container">
  <table class="table" id="serverTable">
    <thead>
    <tr id="tableHeading">

    </tr>
    </thead>
    <tbody id="tableBody">

    </tbody>
  </table>

  <button type="button" class="btn btn-primary" id="btnOverIDC">Over IDC toggle</button>
</div>

<form>
  <input type="hidden" id="isOverIDC" value="true">
</form>

<script>
  var isAjax = false;
  var serverList = <%- servers %>;

  function setWeight(serverName) {
    $.ajax({
      url: 'http://localhost:8989/weight',
      method: 'put',
      data: {
        serverName: serverName
      },
      dataType: 'json'
    })
      .then(function (response) {
        console.log(response);
        reloadTable();
      })
      .fail(function (response) {
        console.log('set weight failed ' + JSON.stringify(response));
      });
  }

  function reloadTable() {
    $.ajax({
        url: 'http://localhost:8989/weight'
      })
      .then(function (data) {
        if (data) {
          console.log(JSON.stringify(data));
// 테이블 리셋
          $("#tableHeading").html('<th>control</th>');
          $("#tableBody").html('');
          var table = [];

          //테이블 헤더 생성
          data.forEach(function (proxyServer, outerIdx) {
            $("#tableHeading").append($("<th></th>").html(proxyServer.name));
            table[outerIdx] = [];
            proxyServer.servers.forEach(function (server) {
              table[outerIdx].push(server.name + ':' + server.weight);
            });
          });

          // 테이블 정보 생성
          for (var j = 0; j < serverList.length; j++) {
            var row = $("<tr></tr>");

            // 제어 버튼 생성 시작
            var button = $("<button>" + serverList[j] + "</button>");
            button.attr('class', 'btn btn-default btn-xs');
            button.attr('name', serverList[j]);

            button.click(function () {
              setWeight(this.name);
            });
            // 제어 버튼 생성 종료

            var controlCell = $('<th></th>').append(button);
            row.append(controlCell);

            for (var i = 0; i < table.length; i++) {
              var cell = $("<td></td>");
              cell.html(table[i][j]);
              row.append(cell);
            }
            $("#tableBody").append(row);
          }
        }
      })
      .fail(function (response) {
        console.log(response);
      });
  }
</script>

<script>
  $(function () {
    /**
     * Over IDC 모드 인지 조회
     */
    $.ajax({
        url: 'http://localhost:8989/multiproxy',
        method: 'GET'
      })
      .then(function (response) {
        $("#isOverIDC").val(response.isMultiProxy);
        reloadTable();
      })
      .fail(function (response) {
        console.log(JSON.stringify(response));
      });

    /**
     * OverIDC toggle 버튼 클릭 이벤트
     */
    $("#btnOverIDC").click(function () {
      if ($("#isOverIDC").val() === "true") {
        $("#isOverIDC").val("false");
      } else {
        $("#isOverIDC").val("true");
      }
      $.ajax({
          url: 'http://localhost:8989/multiproxy/',
          method: 'PUT',
          data: {
            onOff: $("#isOverIDC").val()
          },
          dataType: 'json'
        })
        .done(function (response) {
          console.log(response);
        })
        .fail(function (response) {
          console.log(response);
        })
        .always(function () {
          reloadTable();
        });
    });
  });
</script>

</body>
</html>