<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>

</head>
<body>
<div class="container">
  <table class="table" id="serverTable">
    <thead>
    <tr id="tableHeading">

    </tr>
    </thead>
    <tbody id="tableBody">

    </tbody>
  </table>

  <button type="button" class="btn btn-primary" id="btnOverIDC">Over IDC toggle</button>
  <button type="button" class="btn btn-default" id="btnReset">reset</button>
</div>

<form>
  <input type="hidden" id="isOverIDC" value="true">
</form>

<script>
  var isAjax = false;
  var isMultiProxy = null;
  var serverList = <%- servers %>;
  var proxyServerList = <%- proxyServers %>;

  function setWeight(serverName, serviceName) {
    $.ajax({
        url: 'http://<%-ip%>/weight',
        method: 'PATCH',
        data: {
          serverName: serverName,
          serviceName: serviceName
        },
        dataType: 'json'
      })
      .then(function (response) {
        reloadTable();
      })
      .fail(function (response) {
        console.log('set weight failed ' + JSON.stringify(response));
      });
  }

  function reloadTable() {
    $.ajax({
        url: 'http://<%-ip%>/weight'
      })
      .then(function (data) {
        if (data) {
          // 테이블 리셋
          $("#tableHeading").html('<th>control</th>');
          $("#tableBody").html('');
          var table = [];

          $("#tableHeading").append($("<th></th>").html('목동'));
          $("#tableHeading").append($("<th></th>").html('논현'));
          //테이블 헤더 생성

          proxyServerList.forEach(function (proxyServer, outerIdx) {
            table[outerIdx] = [];

            serverList = _.chain(data)
              .sortBy(['proxyServerNO', 'serverNO', 'serviceNO'])
              .filter(function (row) {
                return row.proxyServerName === proxyServer;
              })
              .value();

            serverList.forEach(function (server) {
              table[outerIdx].push(server.weight);
            });
          });

          // 테이블 정보 생성
          for (var j = 0; j < serverList.length; j++) {
            var row = $("<tr></tr>");

            // 제어 버튼 생성 시작
            var button = $("<button>" + serverList[j].serverName + ',' + serverList[j].serviceName + "</button>");
            var nameValue = {
              serverName: serverList[j].serverName,
              serviceName: serverList[j].serviceName
            };

            button.attr('class', 'btn btn-default btn-xs');
            button.attr('name', JSON.stringify(nameValue));

            button.click(function () {
              var parsedName = JSON.parse(this.name);
              setWeight(parsedName.serverName, parsedName.serviceName);
            });
            // 제어 버튼 생성 종료

            var controlCell = $('<th></th>').append(button);
            row.append(controlCell);

            if (table[0][j] === table[1][j] && table[1][j] === table[2][j] && table[0][j] === 1) {
              var statBtn = $("<button>" + table[0][j] + "</button>");
              statBtn.attr('class', 'btn btn-success btn-xs');
              statBtn.attr('name', serverList[j]);
              var cell = $("<td></td>");
              cell.html(statBtn);
              row.append(cell);
            } else if (table[0][j] === table[1][j] && table[1][j] === table[2][j] && table[0][j] === 0) {
              var statBtn = $("<button>" + table[0][j] + "</button>");
              statBtn.attr('class', 'btn btn-danger btn-xs');
              statBtn.attr('name', serverList[j]);
              var cell = $("<td></td>");
              cell.html(statBtn);
              row.append(cell);
            } else {
              var statBtn = $("<button>" + table[0][j] + "</button>");
              statBtn.attr('class', 'btn btn-warning btn-xs');
              statBtn.attr('name', serverList[j]);
              var cell = $("<td></td>");
              cell.html(statBtn);
              row.append(cell);
            }

            if (table[3][j] === table[4][j] && table[4][j] === table[5][j] && table[5][j] === 1) {
              var statBtn = $("<button>" + table[3][j] + "</button>");
              statBtn.attr('class', 'btn btn-success btn-xs');
              statBtn.attr('name', serverList[j]);
              var cell = $("<td></td>");
              cell.html(statBtn);
              row.append(cell);
            } else if (table[3][j] === table[4][j] && table[4][j] === table[5][j] && table[5][j] === 0) {
              var statBtn = $("<button>" + table[3][j] + "</button>");
              statBtn.attr('class', 'btn btn-danger btn-xs');
              statBtn.attr('name', serverList[j]);
              var cell = $("<td></td>");
              cell.html(statBtn);
              row.append(cell);
            } else {
              var statBtn = $("<button>" + table[3][j] + "</button>");
              statBtn.attr('class', 'btn btn-warning btn-xs');
              statBtn.attr('name', serverList[j]);
              var cell = $("<td></td>");
              cell.html(statBtn);
              row.append(cell);
            }

            $("#tableBody").append(row);
          }
        }
      })
      .fail(function (response) {
        console.log(response);
      });
  }
</script>

<script>
  $(function () {
    /**
     * Over IDC 모드 인지 조회
     */
    $.ajax({
        url: 'http://<%-ip%>/multiproxy',
        method: 'GET'
      })
      .then(function (response) {
        isMultiProxy = response;
        if (isMultiProxy) {
          $("#btnOverIDC").attr('class', 'btn btn-success');
        } else {
          $("#btnOverIDC").attr('class', 'btn btn-danger');
        }
        reloadTable();
      })
      .fail(function (response) {
        console.log(JSON.stringify(response));
      });

    /**
     * OverIDC toggle 버튼 클릭 이벤트
     */
    $("#btnOverIDC").click(function () {
      var onOff = null;
      if (isMultiProxy) {
        onOff = false;
        $("#btnOverIDC").attr('class', 'btn btn-danger');
      } else {
        onOff = true;
        $("#btnOverIDC").attr('class', 'btn btn-success');
      }
      $.ajax({
          url: 'http:///multiproxy/',
          method: 'POST',
          data: {
            onOff: onOff
          },
          dataType: 'json'
        })
        .done(function (response) {
          isMultiProxy = onOff;
        })
        .fail(function (response) {
          console.log(response);
        })
        .always(function () {
          reloadTable();
        });
    });

    $("#btnReset").click(function () {
      isMultiProxy = false;
      $("#btnOverIDC").attr('class', 'btn btn-danger');
      $.ajax({
          url: 'http://<%-ip%>/reset',
          method: 'GET',
          dataType: 'json'
        })
        .done(function (response) {
          reloadTable();
        })
        .fail(function (response) {
          console.log(response);
        })
        .always(function () {
          reloadTable();
        });
    });
  });
</script>

</body>
</html>