<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>


</head>
<body>
<div class="container">
    <table class="table" id="serverTable">
        <thead>
        <tr id="tableHeading">

        </tr>
        </thead>
        <tbody id="tableBody">

        </tbody>
    </table>

    <button type="button" class="btn btn-primary" id="overIDC">Over IDC</button>
</div>

<script>
  $(function() {
    setInterval(reloadTable(), 1000);
  });

  function reloadTable() {
    $.ajax({
      url: 'http://localhost:8989/weight'
    })
      .then(function (data) {
        if (data) {
          console.log('success');
          $("#tableHeading").html('');
          $("#tableBody").html('');
          var table = [];
          data.forEach(function (proxyServer, outerIdx) {
            $("#tableHeading").append($("<td></td>").html(proxyServer.name));
            table[outerIdx] = [];
            proxyServer.servers.forEach(function (server) {
              table[outerIdx].push(server.id + ':' + server.weight);
            });
          });

          var i = 0;
          for (var j = 0; j < table[0].length; j++) {
            var row = $("<tr></tr>");
            for (i = 0; i < table.length; i++) {
              row.append($("<td></td>").html(table[i][j]));
            }
            $("#tableBody").append(row);

          }
        }
      })
      .fail(function (response) {
        console.log(JSON.stringify(response));
      });

  }
</script>

<script>
  $(function () {
    reloadTable();

    $("#overIDC").click(function () {
      $.ajax({
        url: 'http://localhost:8989/multiproxy/true',
        dataType: 'json'
      })
        .done(function (response) {
          console.log(response);
        })
        .fail(function (response) {
          console.log(response);
        });
    });
  });
</script>

</body>
</html>